* {
	box-sizing: border-box;
	text-align: justify;
	background-color: rgb(25, 40, 54);
}

.App {
	display: flex;
	max-width: 98.57rem;
	overflow: none;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0;
	justify-content: space-evenly;
	min-height: 100%;
}

header {
	margin: auto;
	font-family: "MuseoModerno", "Garamond";
	color: rgb(83, 255, 189);
	text-shadow: 2px 2px 2px rgb(247, 136, 255);
	font-weight: 500;
	text-decoration: none;
	align-self: flex-start;
}

.sound--board {
	display: inline-grid;
	flex-wrap: nowrap;
	flex-grow: 2;
	grid-template-rows: 1fr 1fr 2fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 3px;
	min-height: 50vh;
	margin-bottom: 1rem;
	aspect-ratio: 1/1;
	align-self: center;
	padding-bottom: 2rem;
}

.score--container {
	grid-area: "score";
	padding-bottom: 2rem;
}

.start--button {
	height: 4rem;
	border: 3px solid rgb(83, 255, 189);
	border-radius: 1rem;
	padding: 0.5rem 1rem;
	font-family: "Teko", sans-serif;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
	color: rgb(247, 136, 255);
	font-size: 2rem;
}

#curr--score {
	font-size: 2rem;
	margin-bottom: 0;
	margin-top: 0.5rem;
	font-family: "Teko";
	color: rgb(247, 136, 255);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

#best--score {
	margin-top: 0;
	font-size: 2rem;
	font-family: "Teko";
	color: rgb(83, 255, 189);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

h1 {
	font-size: 75px;
	margin-top: 0;
	margin-bottom: 0;
}

.start--button:disabled {
	color: rgb(179, 179, 179);
	border: 3px solid rgb(203, 222, 215);
}

.button--card {
	aspect-ratio: 1 / 1;
	background-color: rgb(247, 136, 255);
	border: 3px solid rgb(189, 91, 227);
	grid-column: span 1;
	font-size: 3em;
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.button--card--active {
	aspect-ratio: 1 / 1;
	background-color: rgb(83, 255, 189);
	box-shadow: 1px 1px 1px rgb(0, 0, 0);
	border: 3px solid rgb(132, 239, 198);
	font-size: 3em;
}

.disabled {
	pointer-events: none;
}

.desc--text {
	margin-bottom: 1rem;
	margin-top: 0;
	color: rgb(255, 160, 65);
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	font-family: "Teko", sans-serif;
	font-size: 2rem;
}

footer {
	margin: 0;
	grid-area: "info";
}
