* {
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(25, 40, 54)
}

.App {
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 15% 15% 50% 20%;
    grid-template-areas: "header" "score" "soundboard";
    justify-items: center;

}

header {
    font-family: 'MuseoModerno', cursive;
    color: rgb(83, 255, 189);
    text-shadow: 2px 2px 2px rgb(247, 136, 255);
    grid-area: header;
    font-weight: 500;
}

.sound--board {
    display: inline-grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 3px;
    grid-area: soundboard;
}

#curr--score {
    grid-area: "score";
    font-family: 'Teko';
    color:rgb(247, 136, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
h1 {
    font-size: 75px;
    margin-top:0;
    margin-bottom:0;
}


button {
    height: 4rem;
    border: 3px solid rgb(83, 255, 189);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-family:'Teko', sans-serif;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color: rgb(247, 136, 255);
    font-size: 2rem;
}

button:disabled {
    color: rgb(179, 179, 179);
    border: 3px solid rgb(203, 222, 215);
}

.button--card {
    background-color: rgb(247, 136, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(189, 91, 227);
    font-size: 3em;
}

.button--card--active {
    background-color: rgb(83, 255, 189);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(132, 239, 198);
    font-size: 3em;
}