* {
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.App {
    height: 100vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "soundboard";
    justify-items: center;
}

header {
    font-family: 'MuseoModerno', cursive;
    color: rgb(83, 255, 189);
    text-shadow: 2px 2px 2px rgb(247, 136, 255);
    grid-area: header;
    font-weight: 500;
}
h1 {
    font-size: 75px;
margin-top:0;
margin-bottom:0;
}
.sound--board {
    display: inline-grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 3px;
    grid-area: soundboard;
}

button {
    border: 3px solid rgb(83, 255, 189);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-family:'Arial';
    font-weight:bolder;
    color: rgb(42, 42, 42)
}

.button--card {
    background-color: rgb(247, 136, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(255, 164, 244);
    font-size: 3em;
}

.button--card--active {
    background-color: rgb(83, 255, 189);
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(132, 239, 198);
    font-size: 3em;
}